:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

html {
  cursor: pointer;
}

body {
  margin: 0;
  cursor: default;
}

.iphone {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.iphone .div {
  background-color: #000000;
  min-height: 2178px;
  /*overflow hides or reveals the extra feature cards*/
  overflow: hidden;
  position: relative;
  min-width: 320px;
  width: 100%;
  max-width: 1440px;
  border: 2px solid orange;
}

@media screen and (min-width: 480px) {
  .iphone .div {
    min-height: 3794px;
  }
}

@media screen and (min-width: 1440px) {
  .iphone .div {
    width: 1440px;
  }
}

.iphone .overlap {
  height: 473px;
  left: 0;
  position: absolute;
  top: -1px;
  width: 100%;
  border: 2px solid red;
}

@media screen and (min-width: 480px) {
  .iphone .overlap {
    width: 83.9%;
    left: 18.1%;
    height: 930px;
  }
}

.iphone .overlap-group {
  height: 473px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}



.heroBannerMobile {
  height: auto;
  left: 0;
  position: absolute;
  top: 84px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .heroBannerMobile {
    visibility: hidden;
  }
}

.heroBannerDesktop {
  height: auto;
  left: 0;
  position: absolute;
  top: 3px;
  width: 100%;
  visibility: hidden;
}

@media screen and (min-width: 480px) {
  .heroBannerDesktop {
    visibility: visible;
  }
}

.iphone .rectangle {
  background-color: #00000038;
  height: 242px;
  left: 0;
  position: absolute;
  top: 84px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .iphone .rectangle {
    height: 720px;
    top: 3px;
    
  }
}

.iphone .rectangle-2 {
  background: linear-gradient(360deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  height: 132px;
  left: 0;
  position: absolute;
  top: 195px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .iphone .rectangle-2 {
    height: 392px;
    top: 330px;
  }
}

.menuTextWrapper {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 86px;
  left: 82.8%;
  letter-spacing: 0.48px;
  line-height: 22.7px;
  position: absolute;
  top: 33px;
  width: 267px;
}

@media screen and (min-width: 480px) {
  .menuTextWrapper {
    visibility: hidden;
  }
}

.iphone .nextRaceBox {
  height: auto;
  position: absolute;
  top: 708px;
  width: 100%;
  border: 2px solid purple;
}

.iphone .text-wrapperA {
  color: #606367;
  font-family: "Bai Jamjuree", Helvetica;
  font-size: 32px;
  font-weight: 500;
  height: 76px;
  left: 33px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 733px;
  width: 290px;
}

.iphone .text-wrapperB {
  color: #606367;
  font-family: "Bai Jamjuree", Helvetica;
  font-size: 32px;
  font-weight: 500;
  height: 76px;
  left: 395px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 735px;
  width: 290px;
}

.iphone .text-wrapperC {
  color: #606367;
  font-family: "Bai Jamjuree", Helvetica;
  font-size: 32px;
  font-weight: 500;
  height: 76px;
  left: 647px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 733px;
  width: 290px;
}

.iphone .text-wrapperD {
  color: #ffffff;
  font-family: "Bai Jamjuree", Helvetica;
  font-size: 32px;
  font-weight: 700;
  height: 76px;
  left: 33px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 783px;
  width: 302px;
}

.iphone .text-wrapperE {
  color: #ffffff;
  font-family: "Bai Jamjuree", Helvetica;
  font-size: 32px;
  font-weight: 700;
  height: 76px;
  left: 395px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 785px;
  width: 302px;
}

.iphone .text-wrapperF {
  color: #ffffff;
  font-family: "Bai Jamjuree", Helvetica;
  font-size: 32px;
  font-weight: 700;
  height: 76px;
  left: 649px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 783px;
  width: 302px;
}

.iphone .groupMobile {
  height: auto;
  left: 18.2%;
  position: absolute;
  top: 283px;
  width: 82%;
}

@media screen and (min-width: 480px) {
  .iphone .groupMobile {
    visibility: hidden;
  }
}

.iphone .pDesktop {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 22px;
  font-weight: 500;
  height: 102px;
  left: 49.4%;
  letter-spacing: 0.66px;
  line-height: 30.3px;
  position: absolute;
  top: 528px;
  width: 546px;
}

.iphone .text-wrapper-Desktop {
  color: #ffffff;
  font-family: "Bai Jamjuree", Helvetica;
  font-size: 82px;
  font-weight: 700;
  height: 114px;
  left: 2.5%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 510px;
  width: 558px;
}

@media screen and (max-width: 480px) {
  .iphone .pDesktop,
  .iphone .text-wrapper-Desktop {
    visibility: hidden;
  }
}

.iphone .overlap-2 {
  background-color: #60636754;
  height: 189px;
  position: relative;
  width: 97.5%;
}


.iphone .p {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 86px;
  left: 8.33%;
  letter-spacing: 0.42px;
  line-height: 19.9px;
  position: absolute;
  top: 57px;
  width: 85.57%;
}
.iphone .text-wrapper-2 {
  color: #ffffff;
  font-family: "Bai Jamjuree", Helvetica;
  font-size: 32px;
  font-weight: 700;
  height: 38px;
  left: 7%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
  white-space: nowrap;
  width: 226px;
}

.iphone .siteLogo {
  height: 37px;
  left: 5%;
  position: absolute;
  top: 26px;
  width: 32px;
}

@media screen and (min-width: 480px) {
  .iphone .siteLogo {
    visibility: hidden;
  }
}

.iphone .footerBoxMobile {
  height: 195px;
  left: 0;
  position: absolute;
  top: 1986px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .iphone .footerBoxMobile {
    visibility: hidden;
  }
}

.iphone .footerBoxBackgroundMobile {
  background-color: #ffffff1c;
  height: 190px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .iphone .footerBoxDesktop {
    visibility: hidden;
  }
}

.iphone .siteLogoFooterMobile {
  height: 46px;
  left: 3.6%;
  position: absolute;
  top: 132px;
  width: 40px;
}

.iphone .copyrightMobile {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 8px;
  font-weight: 400;
  height: 49px;
  left: 77%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 147px;
  width: 349px;
}

.iphone .flexcontainerMobile {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 106px;
  left: 19px;
  position: absolute;
  top: 20px;
  width: 110px;
}

.iphone .textMobile {
  align-self: stretch;
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.48px;
  line-height: 10.8px;
  position: relative;
}

.iphone .spanMobile {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.48px;
  line-height: 10.8px;
}

.iphone .flexcontainer-2-Mobile {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 105px;
  left: 117px;
  position: absolute;
  top: 20px;
  width: 200px;
}

.iphone .gitHubMobile {
  height: 22px;
  left: 79.5%;
  position: absolute;
  top: 23px;
  width: 22px;
}

.iphone .linkedInMobile {
  height: 22px;
  left: 88.5%;
  position: absolute;
  top: 23px;
  width: 22px;
}

.iphone .line-2 {
  height: 0px;
  left: 3.8%;
  object-fit: cover;
  position: absolute;
  top: 102px;
  width: 92%;
  border: 1px #606367 solid;
}

@media screen and (min-width: 480px) {
  .iphone .line-2 {
    visibility: hidden;
  }
}

.iphone .footerBoxDesktop {
  height: 322px;
  left: 0;
  position: absolute;
  top: 2400px;
  width: 100%;
}

.iphone .footerBoxBackgroundDesktop {
  background-color: #1c1c1c;
  height: 322px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.iphone .copyrightDesktop {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 45px;
  left: 1244px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 254px;
  width: 322px;
}

.iphone .footer-text-wrapper-1 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 26px;
  font-weight: 400;
  height: 64px;
  left: 200px;
  letter-spacing: 0;
  line-height: 23.4px;
  position: absolute;
  top: 62px;
  width: 184px;
}

.iphone .footer-text-wrapper-2 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 26px;
  font-weight: 400;
  height: 64px;
  left: 42px;
  letter-spacing: 0;
  line-height: 23.4px;
  position: absolute;
  top: 62px;
  width: 184px;
}

.iphone .footer-text-wrapper-3 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 26px;
  font-weight: 400;
  height: 64px;
  left: 386px;
  letter-spacing: 0;
  line-height: 23.4px;
  position: absolute;
  top: 62px;
  width: 184px;
}

.iphone .footer-text-wrapper-4 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 26px;
  font-weight: 400;
  height: 64px;
  left: 569px;
  letter-spacing: 0;
  line-height: 23.4px;
  position: absolute;
  top: 62px;
  width: 184px;
}

.iphone .footer-text-wrapper-5 {
  color: #ffffff;
  font-family: "Bai Jamjuree", Helvetica;
  font-size: 82px;
  font-weight: 700;
  height: 114px;
  left: 107px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 62%;
  width: 558px;
}

.iphone .siteLogoFooterDesktop {
  height: 64px;
  left: 33px;
  position: absolute;
  top: 70.2%;
  width: 55px;
}

.iphone .gitHubDesktop {
  height: 69px;
  left: 1219px;
  position: absolute;
  top: 55px;
  width: 69px;
}

.iphone .linkedInDesktop {
  height: 69px;
  left: 1314px;
  position: absolute;
  top: 55px;
  width: 69px;
}

.iphone .overlap-3 {
  background-color: #d9d9d91c;
  background-image: url(./rectangle-34.svg);
  background-size: 100% 100%;
  border-radius: 5px;
  height: 422px;
  left: 253px;
  position: absolute;
  top: 2698px;
  width: 358px;
}

.iphone .overlap-Z {
  height: 422px;
  left: 654px;
  position: absolute;
  top: 2698px;
  width: 359px;
}

.iphone .rectangle-X {
  background-color: #d9d9d91c;
  border-radius: 5px;
  height: 422px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 358px;
}

.iphone .rectangle-Y {
  height: 422px;
  left: 0;
  position: absolute;
  top: 0;
  width: 358px;
}

.iphone .overlap-W {
  height: 422px;
  left: 1055px;
  position: absolute;
  top: 2698px;
  width: 359px;
}

.iphone .rectangle-7 {
  background-color: #d9d9d91c;
  border-radius: 5px;
  height: 422px;
  left: 0;
  position: absolute;
  top: 0;
  width: 358px;
}

.iphone .rectangle-L {
  height: 422px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 358px;
}

.iphone .overlap-A {
  background-color: #ffffff1c;
  height: 90vh;
  left: 0;
  position: fixed;
  top: 3px;
  bottom: px;
  width: 17.4%;
  
}

@media screen and (max-width: 480px) {
  .iphone .overlap-A {
    visibility: hidden;
  }
}

.iphone .text-wrapper-18 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 26px;
  font-weight: 400;
  height: 64px;
  left: 23px;
  letter-spacing: 0;
  line-height: 23.4px;
  position: absolute;
  top: 38.03%;
  width: 184px;
}

.iphone .text-wrapper-19 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 26px;
  font-weight: 400;
  height: 64px;
  left: 23px;
  letter-spacing: 0;
  line-height: 23.4px;
  position: absolute;
  top: 56.09%;
  width: 184px;
}

.iphone .text-wrapper-20 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 26px;
  font-weight: 400;
  height: 64px;
  left: 23px;
  letter-spacing: 0;
  line-height: 23.4px;
  position: absolute;
  top: 90.5%;
  width: 184px;
}

.iphone .text-wrapper-21 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 26px;
  font-weight: 400;
  height: 64px;
  left: 23px;
  letter-spacing: 0;
  line-height: 23.4px;
  position: absolute;
  top: 72.79%;
  width: 184px;
}

.iphone .desktopMenuLine1 {
  height: 0px;
  left: 21px;
  object-fit: cover;
  position: absolute;
  top: 47.9%;
  width: 84.4%;
  border: 1px solid rgba(217, 217, 217, 0.41);
  
}

.iphone .desktopMenuLine2 {
  height: 0px;
  left: 21px;
  object-fit: cover;
  position: absolute;
  top: 30.5%;
  width: 84.4%;
  border: 1px solid rgba(217, 217, 217, 0.41);
}

.iphone .desktopMenuLine3 {
  height: 0px;
  left: 21px;
  object-fit: cover;
  position: absolute;
  top: 65.25%;
  width: 84.4%;
  border: 1px solid rgba(217, 217, 217, 0.41);
}

.iphone .desktopMenuLine4 {
  height: 0px;
  left: 21px;
  object-fit: cover;
  position: absolute;
  top: 82.6%;
  width: 84.4%;
  border: 1px solid rgba(217, 217, 217, 0.41);
}

.iphone .desktopMenuLine5 {
  height: 0px;
  left: 21px;
  object-fit: cover;
  position: absolute;
  top: 99.5%;
  width: 84.4%;
  border: 1px solid rgba(217, 217, 217, 0.41);
}

.iphone .group-3 {
  height: 20.85%;
  left: 48px;
  position: absolute;
  top: 5.94%;
  width: 64.4%;
}

.iphone .overlap-table {
  height: 800px;
  left: 17.22%;
  position: absolute;
  top: 990px;
  width: 81.74%;
}

@media screen and (max-width: 480px) {
  .iphone .overlap-table {
    left: 1%;
    width: 98%;
    top: 900px;
    position: absolute;
  }
}

#tableContainer {
  border-radius: 6px;
  top: 169px;
  width: 100%;
  height: 800px;
}

.mainTable {
  

  &::-webkit-scrollbar {
      width: 10px;
      cursor: pointer;
  }

  &::-webkit-scrollbar-corner,
  &::-webkit-scrollbar-track {
      background-color: rgb(64, 64, 64);
      cursor: pointer;
  }
  
  &::-webkit-scrollbar-thumb {
      background-color: #87C75F;
      cursor: pointer;
  }

  &::-webkit-scrollbar-button:single-button {
      background-color: rgb(64, 64, 64);
      display: block;
      background-size: 8px;
      background-repeat: no-repeat;
      cursor: pointer;
  }

  /* Up */
&::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 10px;
  width: 16px;
  background-position: center 3px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(135, 199, 95)'><polygon points='50,00 0,50 100,50'/></svg>");
  cursor: pointer;
}

&::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='50,00 0,50 100,50'/></svg>");
  cursor: pointer;
}

&::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");
  cursor: pointer;
}

/* Down */
&::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 10px;
  width: 16px;
  background-position: center 3px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(135, 199, 95)'><polygon points='0,0 100,0 50,50'/></svg>");
  cursor: pointer;
}

&::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 100,0 50,50'/></svg>");
  cursor: pointer;
}

&::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");
  cursor: pointer;
}

}

/*To be used as a guide for placing tableContainer
.iphone .rectangle-T {
  border-radius: 6px;
  height: 1089px;
  left: 5px;
  position: absolute;
  top: 169px;
  width: 100%;
}
*/


.iphone .text-wrapper-6 {
  color: #ffffff;
  font-family: "Bai Jamjuree", Helvetica;
  font-size: 26px;
  font-weight: 700;
  height: 83px;
  left: 14.4%;
  letter-spacing: 1.04px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1617px;
  width: 70.8%;
}

.iphone .overlap-4 {
  height: 374px;
  left: 38px;
  position: absolute;
  top: 1703px;
  width: 83.6%;
}

.iphone .rectangle-4 {
  background-color: #d9d9d91c;
  border-radius: 5px;
  height: 374px;
  left: 0;
  position: absolute;
  top: 0;
  width: 95.7%;
}

.iphone .rectangle-5 {
  height: 374px;
  left: 0;
  position: absolute;
  top: 0;
  width: 95.7%;
}

.iphone .leftArrow {
  height: 43px;
  left: -13px;
  position: absolute;
  top: 166px;
  width: 19px;
}

.iphone .rightArrow {
  height: 43px;
  right: 1px;
  position: absolute;
  top: 166px;
  width: 19px;
}

@media screen and (min-width: 480px) {
  .iphone .leftArrow,
  .iphone .rightArrow {
    visibility: hidden;
  }
}

.iphone .overlap-5 {
  height: 131px;
  left: 36px;
  position: absolute;
  top: 2131px;
  width: 80%;
}

.iphone .text-wrapper-7 {
  color: #ffffff;
  font-family: "Bai Jamjuree", Helvetica;
  font-size: 22px;
  font-weight: 700;
  height: 45px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 286px;
}

.iphone .text-wrapper-8 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 99px;
  left: 0;
  letter-spacing: 0;
  line-height: 23.1px;
  position: absolute;
  top: 31px;
  width: 100%;
}

.iphone .overlap-6 {
  height: 45px;
  left: 38px;
  position: absolute;
  top: 2080px;
  width: 80%;
  
}

.iphone .text-wrapper-9 {
  color: #86c65f;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 45px;
  left: 13px;
  letter-spacing: 0.48px;
  line-height: normal;
  position: absolute;
  top: 12px;
  width: 91.6%;
}

.iphone .overlap-group-wrapper {
  height: 35px;
  left: 0;
  position: relative;
  top: 8px;
  width: 100%;
  
}

.iphone .overlap-group-2 {
  height: 35px;
  left: -1px;
  position: relative;
  width: 100%;
  
}

.iphone .line-3 {
  height: 0px;
  left: 1px;
  position: absolute;
  top: 33px;
  width: 100%;
  border: 1px solid #87C75F;
}

.iphone .line-4 {
  height: 35px;
  left: 1px;
  position: absolute;
  top: 35px;
  width: 0px;
  border: 1px solid #87C75F;
  transform: rotate(-180deg);
  transform-origin: 0 0;
}

.iphone .overlap-group-3 {
  height: 35px;
  left: -1px;
  position: relative;
  width: 313px;
  
}

.iphone .overlap-group-4 {
  height: 35px;
  left: -1px;
  position: relative;
  width: 313px;
  
}

.iphone .overlap-7 {
  height: 142px;
  left: 3.8%;
  position: absolute;
  top: 527px;
  width: 93.6%;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .iphone .overlap-7,
  .iphone .overlap-11,
  .iphone .overlap-12 {
    visibility: hidden;
  }
}

.iphone .text-wrapper-10 {
  color: #ffffff;
  font-family: "Bai Jamjuree", Helvetica;
  font-size: 26px;
  font-weight: 700;
  height: 81px;

  letter-spacing: 1.04px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 192px;
  
}

.iphone .rectangle-6 {
  background-color: #ffffff1c;
  border-radius: 4px;
  height: 45px;
  left: 0;
  position: absolute;
  top: 91px;
  width: 100%;
}

.iphone .toggleButton {
  left: 0;
  position: absolute;
  top: 91px;
  width: 100%;
}

.iphone .text-wrapper-11 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 65px;
  left: 20px;
  letter-spacing: 0.54px;
  line-height: 25.6px;
  position: absolute;
  top: 97px;
  width: 207px;
}

.iphone .line-5 {
  height: 2px;
  left: 19px;
  position: absolute;
  top: 124px;
  width: 113px;
}

.iphone .toggleDropArrow {
  height: 10px;
  left: 89.3%;
  position: absolute;
  top: 109px;
  width: 22px;
}

.iphone .text-wrapper-12 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 65px;
  left: 20px;
  letter-spacing: 0.54px;
  line-height: 25.6px;
  position: absolute;
  top: 20px;
  width: 207px;
}

.iphone .overlap-8 {
  height: 131px;
  left: 764px;
  position: absolute;
  top: 2131px;
  width: 312px;
}

.iphone .all-race-results-are {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 4px;
  font-weight: 400;
  height: 99px;
  left: 423px;
  letter-spacing: 0;
  line-height: 23.1px;
  position: absolute;
  top: 1886px;
  width: 312px;
}

.iphone .overlap-9 {
  height: 45px;
  left: 425px;
  position: absolute;
  top: 2080px;
  width: 312px;
  border: 2x solid red;
}

.iphone .line-wrapper {
  background-image: url(./line-17-2.svg);
  background-size: 100% 100%;
  height: 1px;
  left: -4770px;
  position: relative;
  top: 517px;
}

.iphone .line-6 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 35px;
}

.iphone .overlap-10 {
  height: 45px;
  left: 767px;
  position: absolute;
  top: 2080px;
  width: 312px;
}

.iphone .img-wrapper {
  background-image: url(./line-17-3.svg);
  background-size: 100% 100%;
  height: 1px;
  left: -4770px;
  position: relative;
  top: 517px;
}

.iphone .rectangle-8 {
  background-color: #d9d9d91c;
  border-radius: 5px;
  height: 374px;
  left: 423px;
  position: absolute;
  top: 1703px;
  width: 312px;
}

.iphone .rectangle-9 {
  background-color: #d9d9d91c;
  border-radius: 5px;
  height: 374px;
  left: 767px;
  position: absolute;
  top: 1703px;
  width: 312px;
}

.iphone .rectangle-10 {
  height: 374px;
  left: -4003px;
  position: absolute;
  top: 2185px;
  width: 312px;
}

.iphone .rectangle-11 {
  height: 374px;
  left: -4346px;
  position: absolute;
  top: 2185px;
  width: 310px;
}

.iphone .overlap-11 {
  height: 65px;
  left: 3.8%;
  position: absolute;
  top: 672px;
  width: 93.6%;
}



.iphone .rectangle-12 {
  background-color: #ffffff1c;
  border-radius: 4px;
  height: 45px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 100%;
}

.iphone .toggleButton2 {
  left: 0;
  position: absolute;
  top: 13px;
  width: 100%;
}

.iphone .rectangle-13 {
  height: 45px;
  left: 0;
  position: absolute;
  top: 14px;
  width: 365px;
}

.iphone .text-wrapper-13 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 65px;
  left: 20px;
  letter-spacing: 0.54px;
  line-height: 25.6px;
  position: absolute;
  top: 20px;
  width: 207px;
}


.iphone .line-7 {
  height: 2px;
  left: 19px;
  position: absolute;
  top: 47px;
  width: 127px;
}

.iphone .toggleDropArrow-2 {
  height: 10px;
  left: 89.3%;
  position: absolute;
  top: 34px;
  width: 22px;
}

.iphone .vector-5 {
  height: 10px;
  left: 326px;
  position: absolute;
  top: 31px;
  width: 22px;
}

.iphone .overlap-12 {
  height: 65px;
  left: 3.8%;
  position: absolute;
  top: 740px;
  width: 93.6%;
}

.iphone .rectangle-14 {
  background-color: #ffffff1c;
  border-radius: 4px;
  height: 45px;
  left: 0;
  position: absolute;
  top: 14px;
  width: 100%;
}

.iphone .toggleButton3 {
  left: 0;
  position: absolute;
  top: 15px;
  width: 100%;
}

.iphone .line-8 {
  height: 2px;
  left: 17px;
  position: absolute;
  top: 47px;
  width: 106px;
}

.iphone .toggleDropArrow-3 {
  height: 10px;
  left: 89.3%;
  position: absolute;
  top: 34px;
  width: 22px;
}

.iphone .overlap-13 {
  height: 131px;
  left: 425px;
  position: absolute;
  top: 2131px;
  width: 312px;
}

@media screen and (max-width: 480px) {
  .iphone .overlap-8,
  .iphone .overlap-9,
  .iphone .overlap-10,
  .iphone .overlap-13 {
    visibility: hidden;
  }
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #87C75F;
  }
  button {
    background-color: #f9f9f9;
  }
}
